{% extends 'base.html' %}

{% block title %}
我的课程
{% endblock %}

{% block content %}
    <h1>我的课程</h1>
    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p>
                    <a href="{% url 'edu_student:student_course_detail' course.id %}">访问课程详情</a>
                </p>
            </div>
        {% empty %}
            <p>
                你还没有加入任何课程!请去 <a href="{% url 'course_list' %}">课程列表</a> 加入你感兴趣的课程吧
            </p>
        {% endfor %}

    </div>
{% endblock %}













