{% extends 'base.html' %}

{% block title %}
    {% if object %}
        编辑{{ object.title }}
    {% else %}
        创建新内容
    {% endif %}
{% endblock %}


{% block content %}
    <h1>{% if object %}
        编辑{{ object.title }}
    {% else %}
        创建新内容
    {% endif %}</h1>

    <div class="module">
        <h2>课程信息</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="保存" class="button"></p>
        </form>
    </div>
{% endblock %}


